
.gallery {
display: grid;
grid-template-columns: repeat(auto-fit, 200px);
grid-template-rows: repeat(auto-fit, 200px);
grid-column-gap: 30px;
grid-row-gap: 30px;

}


.search {
    height: 35px;
    border-radius: 5px;
    border-color: #eaeaea;
    border-style: solid;
    border-width: 2px;
    width: 400px;
    display: block;
    margin: 30px auto 30px;
    padding-left: 15px;
}

.center {
    display: block;
    max-width: 890px;
    margin: auto;
}
